.FruitAutocomplete {
  position: relative;
}

.FruitAutocomplete_input {
  width: 320px;
  height: 48px;
  font-size: 24px;
  padding: 8px 28px 8px 8px;
  box-sizing: border-box;
}

.FruitAutocomplete_arrowDown {
  position: absolute;
  right: 8px;
  top: 12px;
}
.FruitAutocomplete_arrowUp {
  position: absolute;
  right: 8px;
  top: 12px;
  transform: rotate(180deg);
}

