.DropDown {
  position: absolute;
  top: 48px;
  left: 0;
  font-size: 24px;
  background-color: aliceblue;
  width: 320px;
  box-sizing: border-box;
}
.DropDown_item {
  cursor: pointer;
  padding: 8px;
}
.DropDown_item:hover {
  background-color: antiquewhite;
}
.DropDown_item:active {
  background-color: lightblue;
}
.DropDown_disabledItem {
  cursor: not-allowed;
  padding: 8px;
}
